<section class="comment-area">
  <div class="comment-wrapper">
    <div>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
      <script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>
      <section class="post-footer-item comment">
      <div id="gitalk_container"></div>
      <div id="disqus_thread" style="margin-left:16px;margin-right:16px"></div>
      </section>
      <script>
        var gitalk = new Gitalk({
          id:decodeURI(window.location.pathname),
          clientID: '{{ site.comments.clientID }}',  //这里其实可以直接填值，但是考虑到页面安全性，还是通过配置的方式添加
          clientSecret: '{{ site.comments.secret }}', 
          repo: '{{ site.comments.repo }}',  //\为转移符号，实际添加的时候请将其去掉
          owner: '{{ site.comments.owner }}',
          admin: ['{{ site.comments.admin }}'],
          distractionFreeMode: '{{ site.comments.distractionFreeMode }}'
        })
        gitalk.render('disqus_thread')
      </script>
  </div>
  </div>
</section> <!-- End Comment Area -->
