---
layout: main
---
<article class="article-page">
  <div class="page-content">
    {% if page.img %}
    <div class="page-cover-image">
      <figure>
        {% if page.img contains 'http://' or page.img contains 'https://' %}
        <img class="page-image" src={{page.img}} lt="{{page.title}}">
        {% else %}
        <img class="page-image" src={{ "/assets/img/" | prepend: site.baseurl | append : page.img}}
          alt="{{page.title}}">
        {% endif %}
        {% if page.fig-caption %}
        <figcaption>{{page.fig-caption}}</figcaption>
        {% endif %}
      </figure>
    </div>
    {% else %}
    {% endif %}
    <div class="wrap-content">
      <header class="header-page">
        <h1 class="page-title">{{page.title}}</h1>
        <div class="page-date"><span>{{page.date | date: '%Y, %b %d'}}&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
      </header>
      {{content | markdownify}}
    </div>

    <div style="width: 100%; display: flex; flex-direction: column;margin-left:16px;margin-right:16px">
      <div class="page__related">
        <h4 class="page__related-title">其他相关</h4>
        <div class="grid__wrapper">
          {% for post in site.posts limit:4 %}
          {% if post.id == page.id %}
          {% continue %}
          {% endif %}
          {% include archive-single.html type="grid" %}
          {% endfor %}
        </div>
      </div>

      <div>
        {% include disqus.html %}
      </div>
    </div>
  </div>
</article>